//todo: refactor duplicated styling
//todo: centralize variables

$blue: #43a5eb;
$pink: #e26b6f;
$green: #57c134;

.OverviewPage {
    h1 {
        text-align: center;
    }
    &-Summary {
        background: #fff;
        padding: 2rem 4rem;
        margin-bottom: 5rem;
        border-radius: 2rem;
        img {
            flex-grow: 0;
            width: 100%;
            height: auto;
        }

        @media all and (min-width: 500px) {
            display: flex;
            align-items: flex-start;

            img {
                margin-right: 2rem;
            }
        }
    }
    &-Episodes {
        ul {
            list-style: none;
            padding: 0;
        }
    }
}
.ListItem {
    background: #fff;
    padding: 2rem 4rem;
    border: 1px solid transparent;
    transition: border 0.2s ease;
    margin-bottom: 1rem;
    border-radius: 2rem;
    img {
        width: 100%;
        height: auto;
    }

    @media all and (min-width: 500px) {
        display: flex;
        img {
            margin-right: 2rem;
            width: auto;
        }
    }

    a {
        font-weight: 600;
        font-size: 2rem;
        text-decoration: none;
        color: $pink;

        &:hover {
            color: $green;
        }
    }
}