.App {
    &-Header {
        width: 100%;
        padding: 1.2rem;
        background: #fff;
    }
    &-Menu {
        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 1rem;
            }

        }
    }
    &-Content {
        margin: 0 auto;
        max-width: 780px;
    }
}