@import './assets/Scss/normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
    box-sizing: border-box;
    overflow-y: scroll; // force scrollbar
    background: url("./assets/Images/bg-image.jpg") #62daf9 center 145px no-repeat fixed;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.8rem;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
    font-size: 4.6rem;
    text-align: center;
    margin: 4rem 0 6rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0 2rem;
}

p {
    line-height: 3rem;
}